{% extends "base_layout.html" %}
{% block body %}
<h2> {{ list_object }}</h2>
{% if session.logged_in %}
    <form action="{{ url_for('create_task') }}" method="post" class="add-entry">
      <dl>
        <dt>Task name:
        <dd><input type="text" size="30" name="task_name">
        <dt>Task due date:
        <dd><input type="text" size="30" name="task_date">
        <dt>Client name:
        <dd><input type="text" size="30" name="client_name">
        <dt> Budget:
        <dd><input type="text" size="30" name="budget">
        <dt> Responsible Sub-team:
        <dd><input type="text" size="30" name="sub_team">
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul class="sep_list">
  {% for entry in entries %}
    <li>
      <h2><a href="task/{{ entry.task_name }}">{{ entry.task_name }}</h2>
    client: {{ entry.client_name|safe }} date: {{entry.task_date}}
    <form action="delete_task/{{entry.task_name}}" method="post" class="add-entry">
      <input type="submit" value="Delete">
    </form>
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}